*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9fbfd;
}

.wrapper {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

h1,


h1 {
    font-size: 3em;
    margin-block-start: 0.45em;
    margin-block-end: 0.45em;
}

h2 {
    font-size: 2em;
    margin-block-start: 0.62em;
    margin-block-end: 0.62em;
}


header {
    text-align: center;
    /* padding: 20px; */
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
    margin-top: 20px;
}

.card-header {
    border-bottom: none;
    background-color: white;
}

.card-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 3px;
}

#all-done-header::after {
    content: none;
}

#view-high-scores {
    text-align: left;
}

#initials {
    margin-left: 10px;
    margin-right: 15px;
}

#clear-high-scores {
    margin-left: 10px;
}

#go-back {
    margin-right: 10px;
}

#title-card {
    padding-top: 5px;
}

#header-bar {
    margin-top: -10px;
}

li {
    background-color: rgba(0, 123, 255, 0.28);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-left: 5px;
    margin-right: 0px;
}


body>div>div>div.card-footer>h5 {
    margin-top: 10px;
}

#time-left-column {
    text-align: right;
}

.card-body {
    min-height: 100px;
}

.card-footer {
    text-align: center;
    background-color: white;
    border-top: none;
}

.card-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.card-footer::after {
    content: " ";
    display: block;
    clear: both;
}

#question-card {
    display: none;
    padding-bottom: 10px;
}

#all-done-card {
    display: none;
}

#high-scores-card {
    display: none;
    padding-bottom: 14px;
    padding-top: 10px;
}

#answer-button {
    
}

/* .btn {
    border: none;
    background-color: hsl(360, 91%, 36%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px, rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
} */

/* button[disabled] {
    cursor: default;
    background: #c0c7cf;
} */

.float-right {
    float: right;
}

/* .card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
    margin-top: 20px;
} */
.btn {
    padding: .08rem .5rem;
    margin-bottom: 10px;
}

/* @media (max-width: 348px) {
    .btn {
        font-size: 0.7rem !important;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 0.8rem !important;
    }
} */

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .card {
        padding: 0px;
    }
    li {
        margin-right: 35px;
    }
    .btn {
        font-size: 0.8rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1rem;
    }
}
@media (max-width: 690px) {
    .btn {
        font-size: 1rem;
        /* margin: 16px 0px 0px 0px; */
        /* padding: 10px 15px; */
    }

    #password {
        font-size: 1rem;
    }
}
/* Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) { */
    /* .btn { */
        /* font-size: 1rem; */
        /* margin: 16px 0px 0px 0px; */
        /* padding: 10px 15px; */
    /* } */
/* } */